/* About Section */

body {
  background: #171717;
}

#about {
  padding: 40px 0;
  position: fixed;
  min-height: 100vh;
  display: flex;
  align-content: center;
  margin-left: 35%;
  font-family: "Courier New", Courier, monospace;
}

#about h1 {
  font-size: 70px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  color: #01a2ea;
  text-align: left;
}

#about h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #01a2ea;
}

#about p {
  font-size: 16px;
  color: #01a2ea;
}

#about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}

#about a {
  color: #01a2ea;
}
#about a:hover {
  color: #9ed2ea;
}

.catread {
  width: fit-content;
}

.catread h2 {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  border-right: 20px solid #01a2ea;
  white-space: nowrap;
  animation: typewriter2 3s steps(8) 1s 1 normal both,
    blinkTextCursor2 1000ms linear infinite;
}

.paragraphsDiv {
  overflow-y: scroll;
  max-height: 35%;
}

#about .alwaysPlug p {
  color: yellow;
}

@keyframes typewriter2 {
  from {
    width: 43%;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor2 {
  0%,
  50% {
    border-right-color: transparent;
  }
  51%,
  100% {
    border-right-color: #01a2ea;
  }
}

/* MOBILE */
@media only screen and (max-width: 768px) {
  #about {
    position: relative;
    padding: 20px 0; /* Adjust the top and bottom padding for better spacing */
    margin: auto auto;
    z-index: -1;
  }

  #about .container {
    grid-template-columns: 1fr; /* Change to a single column layout */
    grid-gap: 30px; /* Reduce the gap between items */
  }

  #about h1 {
    font-size: 50px;
  }

  #about h2 {
    font-size: 20px; /* Reduce the font size */
  }

  #about p {
    font-size: 14px; /* Reduce the font size */
  }

  .paragraphsDiv {
    overflow-y: visible;
    display: inline-block;
  }

  /* Footer */
  footer {
    background-color: #fff;
    color: #000000;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  footer p {
    font-size: 14px;
  }
}
