@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;400&display=swap");

/* Hero Section */
#hero {
  display: flex;
  margin: 0;
  justify-content: center;
  background: #171717;
}

#hero .grid-container {
  /*margin-top: 5%;*/
  display: grid;
  grid-gap: 30px;
  justify-items: center;
  align-items: center;
}

/* .grid-profile {
  text-align: center;
  color: #000000;
  font-weight: 900;
  margin-bottom: 20px;
  background: #f4ece6;
  width: 50%;
  height: 83%;
  justify-self: end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/*
.grid-profile h1 {
  font-size: 32px;
  font-weight: 900;
}

.grid-profile hr {
  color: #0050ff;
  border-color: #0050ff;
  border-width: 4px;
  width: 20%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}

.grid-profile p {
  font-weight: 100;
  font-size: 25px;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.media-container {
  position: relative;
  margin-bottom: 20%;
}

.media-container img {
  width: 40px;
  height: 40px;
}
*/

.animation-display img {
  max-width: 35%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.grid-hello {
  font-size: 24px;
  color: #01a2ea;
  text-align: left;
  width: 600px;
  justify-self: center;
  font-family: "Courier New", Courier, monospace;
  margin-left: 20%;
}

.grid-hello h1 {
  font-size: 100px;
  font-weight: 900;
  color: #000000;
  text-align: left;
}

.whoani {
  width: fit-content;
}

.whoani h2 {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  border-right: 20px solid #01a2ea;
  white-space: nowrap;
  animation: typewriter 2s steps(8) 1s 1 normal both,
    blinkTextCursor 1000ms linear infinite;
}

@keyframes typewriter {
  from {
    width: 50%;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor {
  0%,
  50% {
    border-right-color: transparent;
  }
  51%,
  100% {
    border-right-color: #01a2ea;
  }
}

.grid-hello p {
  font-size: 20px;
}

#hero a {
  color: #01a2ea;
}
#hero a:hover {
  color: #9ed2ea;
}
/*
.button1 {
  border: 1px solid #0050ff;
  background-color: #0050ff;
  color: white;
  border-radius: 22px;
  padding: 15px 32px;
  font-size: 15px;
  transition-duration: 0.4s;
  margin-right: 20px;
}

.button1:hover {
  background-color: white;
  color: #0050ff;
}

.button2 {
  border: 1px solid #000000;
  background-color: #fff;
  color: none;
  border-radius: 22px;
  padding: 15px 32px;
  font-size: 15px;
  transition-duration: 0.4s;
  margin-bottom: 30px;
}

.button2:hover {
  background-color: #000000;
  border: 1px solid #000000;
  color: white;
}
*/
@media only screen and (max-width: 768px) {
  #hero {
    background: #171717;
  }

  #hero .grid-container {
    grid-template-columns: 1fr;
    margin-right: 0;
    justify-items: center;
    grid-gap: 10px;
    align-items: center;
    padding-top: 5%;
  }
  #hero .whoani {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    /*background: #fff;*/
  }
  #hero .grid-hello {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-hello h1 {
    font-size: 60px;
    margin: 20px 0;
    text-align: center;
  }

  .grid-hello p {
    font-size: 18px;
    text-align: center;
  }

  .animation-display img {
    max-width: 80%;
  }

  footer {
    display: none;
  }
}
